#conc-test-wrapper,
#conc-complete-wrapper {
  margin: 0 auto;
  width: 1180px;
}

#conc-test-wrapper .container,
#conc-complete-wrapper .container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  border-radius: 10px;
  padding: 40px 24px 24px;

  background-color: var(--White);
}

#conc-test-wrapper .description-box,
#conc-complete-wrapper .description-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#conc-test-wrapper .description-box .title,
#conc-complete-wrapper .description-box .title {
  color: var(--Lightmode-Grey);

  font-size: 24px;
  font-weight: 700;
}

#conc-test-wrapper .description-box .description,
#conc-complete-wrapper .description-box .description {
  color: var(--Lightmode-Grey);

  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;

  white-space: pre-wrap;
}

#conc-test-wrapper .test-box,
#conc-complete-wrapper .test-box {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  height: 351px;

  background-color: var(--Beige);
}

#conc-test-wrapper .test-box .test-container {
  align-self: stretch;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  padding: 20px 0 60px;
}

#conc-test-wrapper .test-box .result-row,
#conc-complete-wrapper .test-box .result-row {
  display: flex;
  gap: 20px;
}

#conc-test-wrapper .test-box .result-box,
#conc-complete-wrapper .test-box .result-box {
  display: flex;
  gap: 10px;

  font-size: 24px;
  font-weight: 700;
}

#conc-test-wrapper .test-box .result-box .title,
#conc-complete-wrapper .test-box .result-box .title {
  color: var(--Lightmode-Grey);
}

#conc-test-wrapper .test-box .result-box .success,
#conc-complete-wrapper .test-box .result-box .success {
  color: var(--Primary);
}

#conc-test-wrapper .test-box .result-box .error,
#conc-complete-wrapper .test-box .result-box .error {
  color: var(--Grey);
}

#conc-test-wrapper .test-box .rectangle {
  width: 180px;
  height: 180px;

  background-image: url(src/assets/images/test-rectangle.png);
  background-size: 100% 100%;

  cursor: pointer;
}

#conc-test-wrapper .test-box .star {
  width: 180px;
  height: 180px;

  background-image: url(src/assets/images/test-star.png);
  background-size: 100% 100%;

  cursor: pointer;
}