#auth-login-container {
    display: flex;
    flex-direction: column;
    align-items:  center;
    gap: 24px;

    width: 380px;
}

#auth-login-container .header {
    color: var(--Lightmode-Grey);
    font-size: 30px;
    font-weight: 700;
    line-height: 173%;
}

#auth-login-container .input-container {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    gap: 14px;
}

#auth-login-container .button-container {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

#auth-login-container .sns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#auth-login-container .sns-header {
    color: var(--Lightmode-Grey2);

    font-size: 16px;
    font-weight: 400;
}

#auth-login-container .sns-button-box {
    display: flex;
    gap: 24px;

}

#auth-login-container .sns-button {
    width: 56px;
    height: 56px;

    background-size: 100% 100%;

    cursor: pointer;
}