#memory_test_wrapper {
	margin: 0 auto;
	width: 1180px;
}

#memory_test_wrapper .container {
	display: flex;
	flex-direction: column;
	gap: 30px;

	border-radius: 10px;
	padding: 40px 24px 24px;

	background-color: var(--White);
}

#memory_test_wrapper .description-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

#memory_test_wrapper .description-box .title {
	color: var(--Lightmode-Grey);

	font-size: 24px;
	font-weight: 700;
}

#memory_test_wrapper .description-box .description {
	color: var(--Lightmode-Grey);

	font: 16px;
	font-weight: 400;
	line-height: 140%;

	white-space: pre-wrap;
	text-align: center;
}

#memory_test_wrapper .test-box {
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 10px;
	height: 573px;

	background-color: var(--Beige);
}

#memory_test_wrapper .card-container {
	display: grid;
	grid-template-columns: 100px 100px 100px 100px;
	grid-template-rows: 100px 100px 100px 100px;
	gap: 40px;

}

#memory_test_wrapper .card-container .reversed-card {
	background-image: url(src/assets/images/question-mark.png);
	background-color: rgba(110, 125, 147, 1);
	background-position: 50% 50%;
	background-repeat: no-repeat;

	cursor: pointer;
}

