@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap');


@font-face {
    font-family: 'Pretendard';
    src: url(src/assets/fonts/Pretendard.ttf);
}

:root {
    --White: rgba(255, 255, 255, 1);
    --Grey: rgba(117, 117, 117, 1);
    --Lightmode-Grey: rgba(64, 64, 64, 1);
    --Lightmode-Grey2: rgba(138, 146, 166, 1);
    --Lightmode-Grey3: rgba(238, 238, 238, 1);
    --Lightmode-Grey4: rgba(113, 113, 113, 1);

    --Error: rgba(255, 84, 64, 1);
    --Second: rgba(0, 132, 255, 0.10);
    --Primary: rgba(0, 132, 255, 1);   

    --Beige : rgba(247, 247, 247, 1);
}

body {
    font-family: 'Pretendard';
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    width: 92px;
    height: 44px;

    font-size: 16px;
    font-weight: 400;
    line-height: 175%;

    cursor: pointer;
}

.button:hover {
    opacity: 0.85;
}

.button.fullwidth {
    box-sizing: border-box;
    width: 100%;
}

.button.middle {
    box-sizing: border-box;
    width: 144px;
}

.button.disable {
    background-color: var(--Lightmode-Grey3);

    color: var(--Lightmode-Grey2);

    cursor: default;
}

.button.disable:hover {
    opacity: 1;
}

.button.second {
    background-color: var(--Second);

    color: var(--Primary);
}

.button.primary {
    background-color: var(--Primary);

    color: var(--White);
}

.button.error {
    background-color: var(--Error);

    color: var(--White);
}

.link {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;

    cursor: pointer;

    color: var(--Lightmode-Grey4);
}

.link:hover {
    color: var(--Lightmode-Grey);
    font-weight: 600;
}

.feeling-icon {
    width: 18px;
    height: 18px;
    
    background-size: 100% 100%;
}

.feeling-icon.normal {
    background-image: url(src/assets/images/normal.png);
}

.feeling-icon.happy {
    background-image: url(src/assets/images/happy.png);
}

.feeling-icon.funny {
    background-image: url(src/assets/images/funny.png);
}

.feeling-icon.sad {
    background-image: url(src/assets/images/sad.png);
}

.feeling-icon.angry {
    background-image: url(src/assets/images/angry.png);
}

.feeling-icon.normal-active {
    background-image: url(src/assets/images/normal-active.png);
}

.feeling-icon.happy-active {
    background-image: url(src/assets/images/happy-active.png);
}

.feeling-icon.funny-active {
    background-image: url(src/assets/images/funny-active.png);
}

.feeling-icon.sad-active {
    background-image: url(src/assets/images/sad-active.png);
}

.feeling-icon.angry-active {
    background-image: url(src/assets/images/angry-active.png);
}

.weather-icon {
    width: 18px;
    height: 18px;

    background-size: 100% 100%;
}

.weather-icon.sun {
    background-image: url(src/assets/images/sun.png);
}

.weather-icon.cloud {
    background-image: url(src/assets/images/cloud.png);
}

.weather-icon.rain {
    background-image: url(src/assets/images/rain.png);
}

.weather-icon.snow {
    background-image: url(src/assets/images/snow.png);
}

.weather-icon.fog {
    background-image: url(src/assets/images/fog.png);
}

.weather-icon.sun-active {
    background-image: url(src/assets/images/sun-active.png);
}

.weather-icon.cloud-active {
    background-image: url(src/assets/images/cloud-active.png);
}

.weather-icon.rain-active {
    background-image: url(src/assets/images/rain-active.png);
}

.weather-icon.snow-active {
    background-image: url(src/assets/images/snow-active.png);
}

.weather-icon.fog-active {
    background-image: url(src/assets/images/fog-active.png);
}

.test-result-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.test-result-table {
	border-radius: 10px;
	background-color: var(--White);
}

.test-result-table>.tr {
	display: flex;
	
	box-sizing: border-box;
	border-bottom: 1px solid var(--Lightmode-Grey3);
	height: 50px;
}

.test-result-table>.tr:last-child {
	border: none;
}

.test-result-table>.tr .th:last-child,
.test-result-table>.tr .td:last-child {
	border: none;
}

.test-result-table>.tr .th,
.test-result-table>.tr .td {
	display: flex;
	justify-content: center;
	align-items: center;
	
	box-sizing: border-box;
	border-right: 1px solid var(--Lightmode-Grey3);

	color: var(--Lightmode-Grey);
	font-size: 16px;
	font-weight: 700;
}

.test-result-table>.tr .td {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.test-result-table>.tr .memory-sequence {
	width: 200px;
}

.test-result-table>.tr .conc-sequence,
.test-result-table>.tr .measurement-score,
.test-result-table>.tr .score-gap,
.test-result-table>.tr .error-count,
.test-result-table>.tr .error-gap {
	width: 180px;
}

.test-result-table>.tr .memory-test-date,
.test-result-table>.tr .measurement-time {
	width: 380px;
}

.test-result-table>.tr .conc-test-date {
    width: 280px;
}

.test-result-table>.tr .gap {
	width: 220px;
}

.pagination-container {
	display: flex;
	justify-content: center;
}
