.button-group {
    display: flex;
    gap: 4px;

    button {
        all: unset;
        cursor: pointer;

        padding: 4px 8px;

        background-color: var(--Lightmode-Grey4);

        color: var(--White);
    }

    .is-active {
        background-color: var(--Lightmode-Grey3);

        color: var(--Lightmode-Grey);
    }
}

.tiptap {
    outline: none;

    border-radius: 6px;
    border: 1px solid var(--Lightmode-Grey3);
    padding: 8px 16px;
}