#memory-test-complete-wrapper {
	display: flex;
	flex-direction: column;
	gap: 30px;

	margin: 0 auto;
	width: 1180px;
}

#memory-test-complete-wrapper .container {
	display: flex;
	flex-direction: column;
	gap: 30px;

	border-radius: 10px;
	padding: 40px 24px 24px;

	background-color: var(--White);
}

#memory-test-complete-wrapper .description-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

#memory-test-complete-wrapper .description-box .title {
	color: var(--Lightmode-Grey);

	font-size: 24px;
	font-weight: 700;
}

#memory-test-complete-wrapper .description-box .description {
	color: var(--Lightmode-Grey);

	font: 16px;
	font-weight: 400;
	line-height: 140%;

	white-space: pre-wrap;
	text-align: center;
}

#memory-test-complete-wrapper .test-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;

	border-radius: 10px;
	height: 270px;

	background-color: var(--Beige);
}

#memory-test-complete-wrapper .test-box .title {
	color: var(--Lightmode-Grey);

	font-size: 24px;
	font-weight: 700;
}

#memory-test-complete-wrapper .test-box .result {
	color: var(--Primary);

	font-size: 24px;
	font-weight: 700;
}

.test-result-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.test-result-table {
	border-radius: 10px;
	background-color: var(--White);
}
.test-result-table>.tr {
	display: flex;
	
	box-sizing: border-box;
	border-bottom: 1px solid var(--Lightmode-Grey3);
	height: 50px;
}

.test-result-table>.tr:last-child {
	border: none;
}

.test-result-table>.tr .th:last-child,
.test-result-table>.tr .td:last-child {
	border: none;
}

.test-result-table>.tr .th,
.test-result-table>.tr .td {
	display: flex;
	justify-content: center;
	align-items: center;
	
	box-sizing: border-box;
	border-right: 1px solid var(--Lightmode-Grey3);

	color: var(--Lightmode-Grey);
	font-size: 16px;
	font-weight: 700;
}

.test-result-table>.tr .td {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.test-result-table>.tr .sequence {
	width: 200px;
}

.test-result-table>.tr .test-date,
.test-result-table>.tr .measurement-time {
	width: 380px;
}

.test-result-table>.tr .gap {
	width: 220px;
}

.pagination-container {
	display: flex;
	justify-content: center;
}
